.forgotLink {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2D2E46;
    display: inline-block;
    text-align: center;
    margin-bottom: 90px;
}

.wrapperLink {
    text-align: right;
}

.btn {
    padding: 9px 100px;
    margin: 0 auto 20px auto;
}
.error {
    position: absolute;
    left: 50%;
    bottom: -55%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 14px;
}

.dark {
    /*background: linear-gradient(#36b6c2, #c391e5);*/
    /*background: #1a1a2e;*/
    color: #f8f8f8;
    transition: 0.3s all;
}

.light {

    /*background: linear-gradient(#36b6c2, #09000c);*/
    /*background: #ffffff;*/
    color: #444444;
    transition: 0.3s all;
}

.error{
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translate(-50%, -50%);
    color: #d03566;
    font-size: 14px;
}