.packBox {
    padding: 16px 110px 16px 24px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}


.packItem {
    flex: 1 1 25%;
    flex-grow: 0;
    margin: 5px;
}

.packName {
    font-size: 13px;
    color: #000000;
}

.learningIcons {
    right: 80px;
    position: absolute;
    width: 27px;
}

